<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Momazos Chuck
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1>Memeringo</h1>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ Jokelist.value }} </ion-card-title>
    </ion-card-header>
  </ion-card>

  <h1>Categories</h1>
    <ion-card *ngFor="let item of Chucklist; index as i">
      <ion-card-header>
        <ion-card-title>{{ item }} </ion-card-title>
      </ion-card-header>
    </ion-card>
  
</ion-content>
